components:
  schemas:
    Alive:
      properties:
        app:
          example: I'm alive!
          type: string
      type: object
    Consulting:
      properties:
        agreementDate:
          format: date
          type: string
        businessArea:
          example: "Jur\xEDdico"
          type: string
        cnpj:
          type: string
        company:
          example: "Raz\xE3o Social"
          type: string
        companyName:
          example: Nome Fantasia
          type: string
        endDate:
          format: date
          type: string
        startDate:
          format: date
          type: string
        uuid:
          format: uuid
          type: string
      type: object
    ConsultingCreateRequest:
      properties:
        agreementDate:
          format: date
          type: string
        businessArea:
          type: string
        cnpj:
          type: string
        company:
          type: string
        companyName:
          type: string
        endDate:
          format: date
          type: string
        startDate:
          format: date
          type: string
        uuid:
          format: uuid
          type: string
      type: object
    ConsultingCreateResponse:
      properties:
        control:
          $ref: '#/components/schemas/RequestControl'
        data:
          $ref: '#/components/schemas/Consulting'
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    ConsultingDeleteResponse:
      properties:
        control:
          $ref: '#/components/schemas/RequestControl'
        data:
          $ref: '#/components/schemas/Deletion'
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    ConsultingGetResponse:
      properties:
        control:
          $ref: '#/components/schemas/RequestControl'
        data:
          $ref: '#/components/schemas/Consulting'
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    ConsultingListResponse:
      properties:
        control:
          $ref: '#/components/schemas/RequestControl'
        data:
          items:
            $ref: '#/components/schemas/Consulting'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    ConsultingUpdateRequest:
      properties:
        agreementDate:
          format: date
          type: string
        businessArea:
          type: string
        cnpj:
          type: string
        company:
          type: string
        companyName:
          type: string
        endDate:
          format: date
          type: string
        startDate:
          format: date
          type: string
        uuid:
          format: uuid
          type: string
      type: object
    ConsultingUpdateResponse:
      properties:
        control:
          $ref: '#/components/schemas/RequestControl'
        data:
          $ref: '#/components/schemas/Consulting'
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    Deletion:
      properties:
        code:
          type: integer
        label:
          type: string
        message:
          type: string
        params:
          items:
            type: string
          type: array
        success:
          type: boolean
      required:
      - code
      type: object
    Link:
      properties:
        href:
          type: string
        method:
          type: string
        rel:
          type: string
      type: object
    Meta:
      properties:
        first:
          format: url
          type: string
        href:
          format: url
          type: string
        last:
          format: url
          type: string
        next:
          format: url
          type: string
        previous:
          format: url
          type: string
      type: object
    Ping:
      properties:
        message:
          example: PONG
          type: string
      type: object
    RequestControl:
      properties:
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
      required:
      - limit
      type: object
info:
  title: consulting-manager-api
  version: 1.0.0
openapi: 3.0.2
paths:
  /alive:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alive'
          description: Success response
      summary: Service Health Method
  /ping:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ping'
          description: Success response
      summary: Ping method
  /v1/consulting:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultingListResponse'
          description: Success response
      summary: List all consultancies
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultingCreateRequest'
        description: Objeto a ser criado
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultingCreateResponse'
      summary: Create Consultancy
  /v1/consulting/{uuid}:
    delete:
      parameters:
      - description: Consultancy uuid
        in: path
        name: uuid
        required: true
        schema:
          format: UUID
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultingDeleteResponse'
      summary: Delete Consultancy
    get:
      parameters:
      - description: Consultancy uuid
        in: path
        name: uuid
        required: true
        schema:
          format: UUID
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultingGetResponse'
          description: Success response
      summary: Get Consultancy
    put:
      parameters:
      - description: Consultancy uuid
        in: path
        name: uuid
        required: true
        schema:
          format: UUID
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultingUpdateRequest'
        description: Objeto a ser atualizado
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultingUpdateResponse'
      summary: Update Consultancy
servers:
- description: Production server
  url: https://services.hagatus.com.br/sigo-consulting
- description: Development server
  url: http://localhost:8000
